@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<center>
    <h1>Welcome to My demo</h1>
    <p>For Registeration i Used Asp Identity framwork </p>
    <p>For accessing chat tab you have to register and comfirm your email..  </p>
    <br />
    <hr />
    <h3>About My Skills</h3>
    
    <ul style="background-color:white" class="text-info"> 
    <li>Html 5</li>
        <li>Css</li>
        <li>Javascript, Jquery</li>
        <li>Ajax</li>
        <li>Razor Syntax</li>
        <li>C# Desktop</li>
        <li>C# Asp MVC 5</li>
        <li>crud , Single,Multiple images, Excel files,audio files, upload fetch , single and Multi select dropdowns  </li>
        <li>Asp Identity Framwork middle Level</li>
        <li>SignalR junior Level</li>
        <li>Linq Quering junior Level</li>
        <li>Sql Server Crud,making Relationship,joins, store Procedures</li>
    </ul>
   
    
</center>

